<h2>登録情報編集</h2>
<%= form_with model: @customer, url: public_customers_path, local: true do |f| %>
	<div class="row">
		<div class="col-sm-9">
			<table class="table edit-table">
				<tr>
					<th class="table-color">名前</th>
					<td>（姓）</td>
					<td><%= f.text_field :last_name %></td>
					<td>（名）</td>
					<td><%= f.text_field :first_name %></td>
				</tr>
				<tr>
					<th class="table-color">フリガナ</th>
					<td>（セイ）</td>
					<td><%= f.text_field :last_name_kana %></td>
					<td>（メイ）</td>
					<td><%= f.text_field :first_name_kana %></td>
				</tr>
				<tr>
					<th class="table-color">メールアドレス</th>
					<td></td>
					<td><%= f.text_field :email %></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th class="table-color">郵便番号（ハイフンなし）</th>
					<td></td>
					<td><%= f.text_field :post_code %></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th class="table-color">住所</th>
					<td></td>
					<td><%= f.text_field :address %></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th class="table-color">電話番号（ハイフンなし）</th>
					<td></td>
					<td><%= f.text_field :phone_number %></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th></th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		
			<%= f.submit "編集内容を保存する", class: 'customers-btn' %>
			<%= link_to "退会する", confirm_public_customers_path, class: 'btn btn-brackets pull-right' %>
		</div>
	</div>
<% end %>
