<!-- 配達先登録/一覧画面を表示する　-->
<div class="container">
 <div class="index-container" style="width:60%; margin: 20px auto;">

  <!-- 配送先登録フォーム -->
  <h5>配送先/一覧</h5>
        <%= form_for(@shipping, url: public_shippings_path) do |f| %>
        <table class="table table-bordered">
        <tr>
		    <th>郵便番号（ハイフンなし）</th>
        <td><%= f.text_field :post_code, id: "postcode" %></td>
	      </tr>
        <tr>
		    <th>住所</th>
        <td><%= f.text_field :address, id: "address" %></td>
	      </tr>
        <tr>
          <th>宛名</th>
            <td><%= f.text_field :name %></td>
        </tr>
      </table>
        <div style="desplay: inline;">
        <%= f.submit "登録する" ,class:"btn btn-primary"%>
        <% end %>
        </div>

	<!-- 配送先一覧/編集/削除/ -->
  <table class="table table-bordered" style="width:100%; margin: 20px auto;">

    <% @shippings.each do |shipping| %>
    <tr>
      <th>郵便番号</th>
      <td><%= shipping.post_code %></td>
      <th>住所</th>
      <td><%= shipping.address %></td>
      <th>宛名</th>
      <td><%= shipping.name %></td>
      <!-- 編集・削除　-->
      <td>
        <%= link_to '編集する',edit_public_shipping_path(shipping), class: "btn btn-primary" %>
        <%= link_to '削除する', public_shipping_path(shipping),class: "btn btn-danger", method: :delete, 'data-confirm' => '本当に削除しますか？' %>
      </td>
    </tr>
    <% end %>
  </table>
</div>