<div class="row">
	<div class="col-xs-3">
		<%= render 'side_genre' %>
	</div>
	<div class="col-xs-9">
		<h2 class="row">
			<% if @genre.present? %>
				<%= @genre.name %>一覧(全<%= @products.count %>件)<span class="tyuui_zeikomi">*価格はすべて税込価格です。</span>
			<% else %>
				商品一覧(全<%= @pdcount.count %>件)<span class="tyuui_zeikomi">*価格はすべて税込価格です。</span>
			<% end %>
		</h2>
		<div class="row empty_align">　</div>
		<div class="row">
			<% @products.each do |product| %>
				<div class=" col-xs-3">
					<div><%= link_to attachment_image_tag( product, :image, :fill, 160, 140, format: "jpg" ), public_product_path(product.id) %></div>
					<div><%= link_to public_product_path(product.id) do %>
							<P class="products_index_name"><%= product.name %></P>
						 <% end %>
					</div>
					<div>￥<%= (product.price * 1.08).to_i %></div>
				</div>
			<% end %>
		</div>
		<div class="row under_bar">
			<div class="col-xs-2"></div>
			<div class="col-xs-3">
				<%= paginate @products %>
			</div>

		</div>
	</div>
</div>
