<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<%= render 'side_genre' %>
		</div>
		<div class="col-xs-9">
			<h2 class="">商品一覧(全<%= @products.count %>件)</h2>
				<% @products.each do |product| %>
					<div class="pb_products_list">
						<div><%= attachment_image_tag product, :image, :fill, 200, 150, format: "jpg" %></div>
						<div><%=link_to product.name, public_product_path(product.id) %></div>
						<div>￥<%= product.price %></div>
					</div>
				<% end %>

				<%= paginate @products %>
			</div>
		</div>
	</div>
</div>
<div class="switch_page_button">
</div>
