<div class="row">
	<div class="col-xs-12">
		<div id="container">
			<div class="intro_box">
				<p class="top_intro">
					ようこそ、<strong>NaganoCake</strong>へ！<br>
					このサイトは、ケーキ販売のECサイトになります。<br>
					会員でない方も商品の閲覧はできますが、<br>
					購入には会員登録が必要になります。
				</p>
			</div>
			 <div id="theTarget">
			    <div class="image1"></div>
			    <div class="image2"></div>
			    <div class="image3"></div>
			    <div class="image4"></div>
		   	</div>
		</div>
	</div>
	<div class="empty_align">　</div>
	<div class="row">
		<div class="col-xs-3">
			<%= render 'side_genre' %>
		</div>
		<div class="col-xs-9">
			<h2>おすすめの商品</h2>
			<div class="empty_align">　</div>
			<div class="row">
				<% @products.each do |product| %>
					<div class="col-xs-3">
						<div class="osusume_img row">
							<%= link_to public_product_path(product) do %>
								<%= attachment_image_tag product, :image, :fill, 160, 140, format: "jpg" %>
							<% end %>

						</div>
						<div class="row public_price_font_size ">
							<%= product.name %>
						</div>
						<div class="emty_align">　</div>
						<div class="public_price_font_size row">￥<%= (product.price * 1.08).to_i %></div>
					</div>
				<% end %>
			</div>
	</div>
</div>
