<div class="container">

<h4><%= @customer.last_name %> <%= @customer.first_name %>さんの会員詳細</h4>
<div class = "row">
<table>
  <tbody>
	<tr>
		<th>顧客ID</th>
<!--------------------- 機能追加 --------------------->
		<td>
			<%= @customer.id %>
			<% if @customer.is_deleted == false %>
			<td><span class = "badge" style = "background :blue">会員（有効）</span></td>
			<% else %>
			<td><span class = "badge" style = "background :red">退会済</span></td>
			<% end %>
		</td>
	</tr>
	<tr>
	    <th>氏名</th>
		<td>
		<%= @customer.last_name %> <%= @customer.first_name %>
	    </td>
	</tr>
	<tr>
		<th>フリガナ</th>
		<td>
		<%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
	    </td>
	</tr>
	<tr>
		<th>郵便番号</th>
		<td><%= @customer.post_code %></td>
	</tr>
	<tr>
		<th>住所</th>
		<td><%= @customer.address %></td>
	</tr>
	<th>電話番号</th>
	<td><%= @customer.phone_number %></td>
	</tr>
	<tr>
		<th>メールアドレス</th>
		<td><%= @customer.email %></td>
	</tr>
  </tbody>
</table>
</div>
<div class = "row">

</div>

<%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn_primary col-xs-1" %>
<%= link_to "注文履歴一覧を見る", public_orders_path, class: "btn_primary col-xs-2" %>
</div>
</div>





