<div class="row">
	<div class="col-xs-offset-9 col-xs-3">
		<%= link_to do %>
			<p class="btn btn-danger">カートを空にする</p>
		<% end %>
	</div>
</div>
<h1>カート内アイテム一覧画面</h1>
<table class="table table-bordered">
	<thead>
		<tr class="info">
			<th>商品名</th>
			<th>単価（税込）</th>
			<th>数量</th>
			<th>小計</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>ケーキ</td>
			<td>2000円</td>
			<td>1</td>
			<td>2000円</td>
			<td>
				<%= link_to do %>
					<p class="btn btn-danger">削除</p>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>シュークリーム</td>
			<td>500円</td>
			<td>3</td>
			<td>1500円</td>
			<td>
				<%= link_to do %>
					<p class="btn btn-danger">削除</p>
				<% end %>
			</td>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="col-xs-2">
		<%= link_to public_products_path do %>
			<p class="btn btn-primary">買い物を続ける</p>
		<% end %>
	</div>
	<div class="col-xs-offset-9 col-xs-3">
		<table class="table table-bordered">
			<tr>
				<th class="info">合計金額</th>
				<th>3500円</th>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="text-center">
		<%= link_to new_public_order_path do%>
			<p class="btn btn-success btn-lg">情報入力に進む</p>
		<% end %>
	</div>
</div>