<div class = "row">


<h2>商品編集</h2>


<%= form_for(@product, url: admin_product_path) do |f| %>

 <div class = "field">
 	<div class = "col-xs-5">

 	<%= f.label :image_id,"商品画像" %>
 	<%= attachment_image_tag(@product, :image, size: '200x200') %>
 	
 </div>
<div class = "col-xs-6">
 <div class = "field">
 	<%= f.label :name,"商品名" %>
 	<%= f.text_field :name, class: "name" %>
 </div>

 <div class = "field">
 	<%= f.label :explain, "商品説明" %>
 	<%= f.text_area :explain, class: "explain" %>
 </div>

 <div class = "field">
 	<%= f.label :genre_id, "ジャンル" %>
 	<%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: "選択してください"},{class: 'form-control',required: true}%>
 </div>

 <div class = "field">
 	<%= f.label :price, "税抜価格" %>
 	<%= f.text_field :price, class: "price" %>
 </div>

 <div class = "from-group">
 	<%= f.label :status, "販売ステータス" %>
 	<%= f.select :status,{"品切れ": 0,"販売中": 1},{include_blank: "選択してください"},{class: 'form-control',required: true} %>
 </div>

 	<%= f.submit "変更を保存", class: 'btn success-btn genre_edit_button' %>

 <% end %>
</div>
</div>
</div>


