<div class = "row">
	<div class = "col-xs-2 pull-right">
	<%= link_to new_admin_product_path, class: "origin-btn" do %>
		<i class="fas fa-plus fa-3x" style='color: #fff'></i>
	<% end %>
</div>
<div class = "col-xs-10">
	<h2>商品一覧</h2>

<table class = "table table-hover table-inverse">
	<thead>
		<tr style="background-color: #ded2c8">
			<th>商品ID</th>
			<th>商品名</th>
			<th>税抜価格</th>
			<th> ジャンル名</th>
			<th>販売ステータス</th>
		</tr>

	</thead>

	<tbody>
		<% @products.each do |product| %>
		<tr>
			<td><%= product.id %></td>
			<td><%= link_to product.name,admin_product_path(product) %></td>
			<td><%= product.price %></td>
			<td><%= product.genre.name %></td>
			<td><%= product.status ? "在庫あり" : "在庫なし" %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<div>
	<%= paginate @products %>
</div>
</div>

