<div class = "row">
	<div class = "col-xs-8">
		<h1>商品新規登録</h1>

 <%=form_for(@product, url: admin_products_path) do |f| %>

 <div class = "field">
 	<%= f.label :image_id,"商品画像" %>

 </div>

 <div class = "field">
 	<%= f.label :name,"商品名" %>
 	<%= text_field :name,class: "name" %>
 </div>

 <div class = "field">
 	<%= f.label :explain, "商品説明" %>
 	<%= f.text_area :explain, class: "explain" %>
 </div>

 <div class = "field">
 	<%= f.label :genre_id, "ジャンル" %>
 	<%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: "もう早く選択してよ〜"},{class: 'form-control',required: true}%>
 </div>

 <div class = "field">
 	<%= f.label :price, "税抜価格" %>
 	<%= f.text_field :price, class: "price" %>
 </div>

 <div class = "from-group">
 	<%= f.label :status, "販売ステータス" %>
 	<%= f.select :status,{"品切れ": 0,"販売中": 1},{include_blank: "もう早く選択してよ〜"},{class: 'form-control',required: true} %>
 </div>

 <div class = "col-xs-4">
 	<%= f.submit "新規登録",class: 'btn origin-btn btn-block' %>
 </div>

 <% end %>
</div>
</div>






