<div class="row ">
  <%= render partial: 'layouts/flash' %>
  <div class="col-xs-1">
  </div>
  <div class="col-xs-9">
    <div class="row">
      <h3>会員の方はこちらからログイン</h3>
    </div>

    <div class="row empty_ailgn">　</div>

    <div class="row">　</div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-3">
          <%= f.label "メールアドレス" %>
        </div>
        <%= f.email_field :email, autofocus:true, autocomplete: "email", class: "col-xs-5", :placeholder => "yamada@example.com" %>
      </div>
      <div class="row">　</div>

      <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-3">
          <%= f.label "パスワード" %>
        </div>
        <%= f.password_field :password, autocomplete: "current-password", class: "col-xs-5" %>
      </div>

      <div class="row empty_align">　</div>

      <div class="row">
          <div class="col-xs-4"></div>
          <div class="col-xs-2">
            <%= f.submit "ログイン", class: "btn customer_login_button success-btn "%>
          </div>
      </div>

      <div class="row empty_align">　</div>

      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-4">
          <h3>登録がお済みでない方</h3>
        </div>
      </div>
      <div class="row empty_align">　</div>
      <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-4">
          <p><%= link_to "こちら",new_customer_registration_path %>　から新規登録を行ってください。
        </div>
      </div>

      </div>
    <% end %>
  </div>
</div>


