<h1>注文情報入力画面</h1>
<h3><strong>支払い方法</strong></h3>
<%= form_with do |form| %>
  <%= form.radio_button :payment, :male %>
  <%= form.label(:クレジットカード) %><br>
  <%= form.radio_button :payment, :female %>
  <%= form.label(:銀行振り込み) %><br>
<% end %>


<h3><strong>お届け先</strong></h3>
<%= form_with do |form| %>
  <%= form.radio_button :payment, :male %>
  <%= form.label(:ご自身の住所) %><br>
  <%= form.radio_button :payment, :female %>
  <%= form.label(:登録済の住所) %><br>
  <%= form.radio_button :payment, :male %>
  <%= form.label(:新しい住所) %><br>
<% end %>
