<!DOCTYPE html>
<html>
  <head>
    <title>ながのCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/18f4d5da3c.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to public_path do %>
          <span class="header-logo">ながのCake</span>
        <% end %>
        <ul class="nav navbar-nav navbar-right nav-hover">
          <% if customer_signed_in?%>
            <li class="nav-item nav-name">
              <span>ようこそ<%= current_customer.last_name %><%= current_customer.first_name %>さん</span>
            </li>
            <li class="nav-item">
              <%= link_to my_page_public_customers_path do %>
                <span>マイページ</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to public_products_path do %>
                <span>商品一覧</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to public_cart_items_path do %>
                <span>カート</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_customer_session_path, method: :delete do %>
                <span>ログアウト</span>
              <% end %>
            </li>

          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to admin_products_path do %>
                <span>商品一覧</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_customers_path do %>
                <span>会員一覧</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_orders_path do %>
                <span>注文履歴一覧</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_genres_path do %>
                <span>ジャンル一覧</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete do %>
                <span>ログアウト</span>
              <% end %>
            </li>
            <div class="search-group pull-right">
          <%= form_tag(admin_serch_path, method: :get) do %>
            <div class="input-group">
                  <%= select_tag(:model, options_for_select([["Product", "1"], ["Customer", "2"]])) %>
                  <%= text_field_tag :search %>
                    <%= button_tag "", class: 'btn btn-primary glyphicon glyphicon-search' %>
              </div>
          <% end %>
        </div>
          <% else %>
            <li class="nav-item">
              <%= link_to about_path do %>
                <span>About</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_products_path do %>
                <span>商品一覧</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_customer_registration_path do %>
                <span>新規登録</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_customer_session_path do %>
                <span>ログイン</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <main>
      <div class="container">
        <%= link_to '注文情報入力', new_public_order_path %>
        <%= link_to '注文履歴一覧', public_orders_path %>
        <%= link_to '配送先一覧', public_shippings_path %>
        <%= yield %>
      </div>
    </main>

    <footer>
      <p>Footer!!!!</p>
    </footer>
  </body>
</html>
